.tic-tac-toe-row {
    clear: both;
}

.tic-tac-toe-cell {
    position: relative;
    float: left;
    background-color: #f2f2f2;
    border: 1px solid #333333;
}

@media only screen and (max-width: 900px) {
    .tic-tac-toe-cell {
        width: 33%;
        padding-top: 33%;
    }
}

@media only screen and (min-width: 900px) {
    .tic-tac-toe-cell {
        width: 150px;
        height: 150px;
    }
}