#games-menu {
    position: relative;
    float: left;
    width: 230px;
    height: 100%;
    margin-top: 10px;
}

li.games-list-inlined {
    display: inline-block;
}

#users-menu {
    position: relative;
    float: right;
    width: 230px;
    height: 100%;
    margin-top: 10px;
}

#mobile-menu {
    position: fixed;
    top: 40px;
    left: 0;
    overflow-x: hidden;
    background-color: #333;
    height: 100%;
    width: 50%;
    z-index: 1;
    transition: 0.5s;
}

#mobile-menu i {
    position: relative;
    float: left;
    clear: left;
    padding-top: 8px;
    padding-left: 8px;
    text-decoration: none;
    font-size: larger;
    display: block;
}

#mobile-menu i.fa-power-off {
    padding-left: 10px;
    padding-right: 2px;
}

#mobile-menu a {
    position: relative;
    float: left;
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: larger;
    display: block;
}
