body {
    margin: 0;
    background-color: #161616;
    color: #d0d0d0;
}

* {
    box-sizing: border-box;
}

a:link {
    color:#d0d0d0;
}

a:visited {
    color:#c0c0c0;
}

a:hover {
    color:#ffffff;
}

a:active {
    color:#d0d0d0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

.hidden {
    display: none;
}



/**   HEADER   */
#header {
    background-color: #333;
    overflow: hidden;
    height: 40px;
}

#header a, #header span {
    float: left;
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
}

#header a {
    color: #f2f2f2;
}

#header span {
    color: #d1d1d1;
}

#header-left {
    position: relative;
    float: left;
}

#header-right {
    posiiton: relative;
    float: right;
}

#header a:hover {
    background-color: #ddd;
    color: black;
}



/**   MENU   */
#games-menu {
    position: relative;
    float: left;
    width: 250px;
}

#users-menu {
    position: relative;
    float: right;
    width: 250px;
}



/** FORM */
input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: 200px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #376f37;
    color: white;
    margin-top: 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #274e27;
}

.form-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}

.form-error {
    color: #ff7788;
    margin-top: 4px;
    margin-bottom: 8px;
}

#content {
    padding: 20px 30px 20px 270px;
}

#messages-container {
    margin-bottom: 16px;
    margin-left: 20px
}

#messages-container div {
    margin-bottom: 16px;
}

#messages-container span {
    padding: 6px 12px 6px 12px;
}

#messages-container .message-info {
    background-color: #274e27;
}

#messages-container .message-error {
    background-color: #884433;
}



/**   PAGES SPECIFIC   */
#login-form {
    max-width: 600px;
}