#game-tables-container {
    margin-top: 10px;
}

.game-table {
    position: relative;
    float: left;
    background-color: #111;
    border: 1px solid #444;
    margin-right: 10px;
    margin-bottom: 10px;

    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .game-table {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .game-table {
        width: 250px;
    }
}



#game-play {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(44, 44, 44, 0.8);
    z-index: 2;
}

#game-play-icons {
    position: relative;
    float: right;
    font-size: 24px;
    color: #666666;
}

#game-play-icons i {
    margin-left: 2px;
}

#game-play-content {
    padding: 10px;
    background-color: rgba(33, 33, 33, 1);
}

@media only screen and (max-width: 900px) {
    #game-play-content {
        width: 100%;
        height: 100%;
    }

    #game-play-icons {
        top: -10px;
        right: -8px;
    }
}

@media only screen and (min-width: 900px) {
    #game-play-content {
        border: 1px solid #666666;
        margin-top: 40px;
        margin-left: 260px;
        margin-right: 260px;
        height: 80%;
    }

    #game-play-icons {
        top: -12px;
        right: -10px;
    }
}
