body {
    margin: 0;
    background-color: #161616;
    color: #d0d0d0;
}

* {
    box-sizing: border-box;
}

a:link {
    color:#d0d0d0;
}

a:visited {
    color:#c0c0c0;
}

a:hover {
    color:#ffffff;
}

a:active {
    color:#d0d0d0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}



.hidden {
    display: none;
}



#central-container {
    position: relative;
    float: left;
    height: 100%;
}

#messages-container div {
    position: relative;
    float: left;
    clear: both;
    padding: 10px;
}

#messages-container .message-info {
    background-color: #274e27;
}

#messages-container .message-error {
    background-color: #884433;
}

#content {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
}



@media only screen and (max-width: 900px) {
    #central-container {
        width: 100%;
    }

    #messages-container {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    #central-container {
        width: calc(100% - 460px);
    }

    #messages-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}


